@font-face {
    font-family: "SofiaSans" ;
    src: url("../Sofia_fonts/static/SofiaSansExtraCondensed-Black.ttf") format("truetype");
    font-weight: bold ;
    font-style: bold;
}

a{
    font-family: "SofiaSans" ;
}